branches/1.2.x/Prototypes/Raptor/SOAPClient/Service References/DataService/DataService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://ns.iringtools.org/protocol" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://ns.iringtools.org/protocol" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ns.iringtools.org/protocol/Imports">
      <xsd:import schemaLocation="http://localhost:52786/DataService.svc?xsd=xsd2" namespace="http://ns.iringtools.org/protocol" />
      <xsd:import schemaLocation="http://localhost:52786/DataService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52786/DataService.svc?xsd=xsd1" namespace="http://rdl.rdlfacade.org/data#" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DTORequest">
    <wsdl:part name="parameters" element="tns:DTORequest" />
  </wsdl:message>
  <wsdl:message name="DTOResponse">
    <wsdl:part name="parameters" element="tns:DTOResponse" />
  </wsdl:message>
  <wsdl:message name="DTOListResponse">
    <wsdl:part name="parameters" element="tns:DTOListResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://ns.iringtools.org/protocol/IDataService/GetData" name="DTORequest" message="tns:DTORequest" />
      <wsdl:output wsaw:Action="http://ns.iringtools.org/protocol/IDataService/GetDataResponse" name="DTOResponse" message="tns:DTOResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDataList">
      <wsdl:input wsaw:Action="http://ns.iringtools.org/protocol/IDataService/GetDataList" name="DTORequest" message="tns:DTORequest" />
      <wsdl:output wsaw:Action="http://ns.iringtools.org/protocol/IDataService/GetDataListResponse" name="DTOListResponse" message="tns:DTOListResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>