DemoControlPanel/ControlPanel/Service References/DemoService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59572/ControlPanel.Web/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/org.ids_adi.camelot.demo" />
  <xs:import schemaLocation="http://localhost:59572/ControlPanel.Web/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:59572/ControlPanel.Web/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/org.w3.sparql_results" />
  <xs:import schemaLocation="http://localhost:59572/ControlPanel.Web/Service.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="Refresh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/org.ids_adi.camelot.demo" minOccurs="0" name="endpoint" nillable="true" type="q1:iRINGEndpoint" />
        <xs:element minOccurs="0" name="graphName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RefreshResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pull">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/org.ids_adi.camelot.demo" minOccurs="0" name="endpoint" nillable="true" type="q3:iRINGEndpoint" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/org.ids_adi.camelot.demo" minOccurs="0" name="targetEndpoint" nillable="true" type="q4:iRINGEndpoint" />
        <xs:element minOccurs="0" name="graphName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PullResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/org.ids_adi.camelot.demo" minOccurs="0" name="endpoint" nillable="true" type="q6:iRINGEndpoint" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/org.w3.sparql_results" minOccurs="0" name="QueryResult" nillable="true" type="q7:ArrayOfArrayOfSPARQLBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/org.ids_adi.camelot.demo" minOccurs="0" name="endpoint" nillable="true" type="q8:iRINGEndpoint" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UpdateResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQXF">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/Message" name="stream" type="q10:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQXFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetQXFResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Export">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/org.ids_adi.camelot.demo" minOccurs="0" name="endpoint" nillable="true" type="q12:iRINGEndpoint" />
        <xs:element minOccurs="0" name="graphName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExportResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Import">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/org.ids_adi.camelot.demo" minOccurs="0" name="endpoint" nillable="true" type="q14:iRINGEndpoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ImportResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/org.ids_adi.camelot.demo" minOccurs="0" name="endpoint" nillable="true" type="q16:iRINGEndpoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResetResult" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Generate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/org.ids_adi.camelot.demo" minOccurs="0" name="endpoint" nillable="true" type="q18:iRINGEndpoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GenerateResult" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/org.ids_adi.camelot.demo" minOccurs="0" name="GetConfigResult" nillable="true" type="q20:Config" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/org.ids_adi.camelot.demo" minOccurs="0" name="endpoint" nillable="true" type="q21:iRINGEndpoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDictionaryResult" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSenderDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/org.ids_adi.camelot.demo" minOccurs="0" name="endpoint" nillable="true" type="q23:iRINGEndpoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSenderDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSenderDictionaryResult" nillable="true" type="q24:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiverDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/org.ids_adi.camelot.demo" minOccurs="0" name="endpoint" nillable="true" type="q25:iRINGEndpoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiverDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetReceiverDictionaryResult" nillable="true" type="q26:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>