Demonstration/DemoControlPanel/Service References/DemoControlPanelService/DemoControlPanelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="DemoControlPanelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2513/DemoControlPanelService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2513/DemoControlPanelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2513/DemoControlPanelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DemoControlPanel.Web" />
      <xsd:import schemaLocation="http://localhost:2513/DemoControlPanelService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/org.iringtools.utility" />
      <xsd:import schemaLocation="http://localhost:2513/DemoControlPanelService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/org.iringtools.library" />
      <xsd:import schemaLocation="http://localhost:2513/DemoControlPanelService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/org.w3.sparql_results" />
      <xsd:import schemaLocation="http://localhost:2513/DemoControlPanelService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDemoControlPanelService_GetConfiguredEndpoints_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfiguredEndpoints" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_GetConfiguredEndpoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfiguredEndpointsResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_GetManifest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManifest" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_GetManifest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManifestResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_GetSenderManifest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSenderManifest" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_GetSenderManifest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSenderManifestResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_GetReceiverManifest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiverManifest" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_GetReceiverManifest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiverManifestResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_Refresh_InputMessage">
    <wsdl:part name="parameters" element="tns:Refresh" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_Refresh_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_Reset_InputMessage">
    <wsdl:part name="parameters" element="tns:Reset" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_Reset_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_Pull_InputMessage">
    <wsdl:part name="parameters" element="tns:Pull" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_Pull_OutputMessage">
    <wsdl:part name="parameters" element="tns:PullResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_Export_InputMessage">
    <wsdl:part name="parameters" element="tns:Export" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_Export_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_Import_InputMessage">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_Import_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_GetQXF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQXF" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_GetQXF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQXFResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_GetScopes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScopes" />
  </wsdl:message>
  <wsdl:message name="IDemoControlPanelService_GetScopes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScopesResponse" />
  </wsdl:message>
  <wsdl:portType name="IDemoControlPanelService">
    <wsdl:operation name="GetConfiguredEndpoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoControlPanelService/GetConfiguredEndpoints" message="tns:IDemoControlPanelService_GetConfiguredEndpoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoControlPanelService/GetConfiguredEndpointsResponse" message="tns:IDemoControlPanelService_GetConfiguredEndpoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetManifest">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoControlPanelService/GetManifest" message="tns:IDemoControlPanelService_GetManifest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoControlPanelService/GetManifestResponse" message="tns:IDemoControlPanelService_GetManifest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSenderManifest">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoControlPanelService/GetSenderManifest" message="tns:IDemoControlPanelService_GetSenderManifest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoControlPanelService/GetSenderManifestResponse" message="tns:IDemoControlPanelService_GetSenderManifest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiverManifest">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoControlPanelService/GetReceiverManifest" message="tns:IDemoControlPanelService_GetReceiverManifest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoControlPanelService/GetReceiverManifestResponse" message="tns:IDemoControlPanelService_GetReceiverManifest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Refresh">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoControlPanelService/Refresh" message="tns:IDemoControlPanelService_Refresh_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoControlPanelService/RefreshResponse" message="tns:IDemoControlPanelService_Refresh_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoControlPanelService/Reset" message="tns:IDemoControlPanelService_Reset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoControlPanelService/ResetResponse" message="tns:IDemoControlPanelService_Reset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pull">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoControlPanelService/Pull" message="tns:IDemoControlPanelService_Pull_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoControlPanelService/PullResponse" message="tns:IDemoControlPanelService_Pull_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Export">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoControlPanelService/Export" message="tns:IDemoControlPanelService_Export_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoControlPanelService/ExportResponse" message="tns:IDemoControlPanelService_Export_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoControlPanelService/Import" message="tns:IDemoControlPanelService_Import_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoControlPanelService/ImportResponse" message="tns:IDemoControlPanelService_Import_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoControlPanelService/Query" message="tns:IDemoControlPanelService_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoControlPanelService/QueryResponse" message="tns:IDemoControlPanelService_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoControlPanelService/Update" message="tns:IDemoControlPanelService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoControlPanelService/UpdateResponse" message="tns:IDemoControlPanelService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQXF">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoControlPanelService/GetQXF" message="tns:IDemoControlPanelService_GetQXF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoControlPanelService/GetQXFResponse" message="tns:IDemoControlPanelService_GetQXF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScopes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoControlPanelService/GetScopes" message="tns:IDemoControlPanelService_GetScopes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoControlPanelService/GetScopesResponse" message="tns:IDemoControlPanelService_GetScopes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDemoControlPanelService" type="tns:IDemoControlPanelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConfiguredEndpoints">
      <soap:operation soapAction="http://tempuri.org/IDemoControlPanelService/GetConfiguredEndpoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManifest">
      <soap:operation soapAction="http://tempuri.org/IDemoControlPanelService/GetManifest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSenderManifest">
      <soap:operation soapAction="http://tempuri.org/IDemoControlPanelService/GetSenderManifest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiverManifest">
      <soap:operation soapAction="http://tempuri.org/IDemoControlPanelService/GetReceiverManifest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refresh">
      <soap:operation soapAction="http://tempuri.org/IDemoControlPanelService/Refresh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <soap:operation soapAction="http://tempuri.org/IDemoControlPanelService/Reset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pull">
      <soap:operation soapAction="http://tempuri.org/IDemoControlPanelService/Pull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Export">
      <soap:operation soapAction="http://tempuri.org/IDemoControlPanelService/Export" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap:operation soapAction="http://tempuri.org/IDemoControlPanelService/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IDemoControlPanelService/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IDemoControlPanelService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQXF">
      <soap:operation soapAction="http://tempuri.org/IDemoControlPanelService/GetQXF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScopes">
      <soap:operation soapAction="http://tempuri.org/IDemoControlPanelService/GetScopes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DemoControlPanelService">
    <wsdl:port name="BasicHttpBinding_IDemoControlPanelService" binding="tns:BasicHttpBinding_IDemoControlPanelService">
      <soap:address location="http://localhost:2513/DemoControlPanelService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>