branches/ports/mono/Prototypes/SOAPClient/Service References/DataService/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://rdl.rdlfacade.org/data#" elementFormDefault="qualified" targetNamespace="http://rdl.rdlfacade.org/data#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Lines">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataTransferObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="tpl_PipingNetworkSystemName_identifier" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="tpl_SystemPipingNetworkSystemAssembly" nillable="true" type="tns:Lines.TemplateSystemPipingNetworkSystemAssembly">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Lines" nillable="true" type="tns:Lines" />
  <xs:complexType name="DataTransferObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataTransferObject" nillable="true" type="tns:DataTransferObject" />
  <xs:complexType name="Lines.TemplateSystemPipingNetworkSystemAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" name="hasClassOfWhole_rdl_System" nillable="true" type="tns:Lines.TemplateSystemPipingNetworkSystemAssembly.ClassSystem">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lines.TemplateSystemPipingNetworkSystemAssembly" nillable="true" type="tns:Lines.TemplateSystemPipingNetworkSystemAssembly" />
  <xs:complexType name="Lines.TemplateSystemPipingNetworkSystemAssembly.ClassSystem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tpl_SystemName_identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lines.TemplateSystemPipingNetworkSystemAssembly.ClassSystem" nillable="true" type="tns:Lines.TemplateSystemPipingNetworkSystemAssembly.ClassSystem" />
  <xs:complexType name="ArrayOfDataTransferObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataTransferObject" nillable="true" type="tns:DataTransferObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataTransferObject" nillable="true" type="tns:ArrayOfDataTransferObject" />
</xs:schema>