tags/1.3.0/Prototypes/Raptor/SOAPClient/Service References/DataService/DataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ns.iringtools.org/protocol" elementFormDefault="qualified" targetNamespace="http://ns.iringtools.org/protocol" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52786/DataService.svc?xsd=xsd1" namespace="http://rdl.rdlfacade.org/data#" />
  <xs:element name="DTORequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="graphName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://rdl.rdlfacade.org/data#" minOccurs="0" name="dto" nillable="true" type="q1:DataTransferObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTOListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://rdl.rdlfacade.org/data#" minOccurs="0" name="dtoList" nillable="true" type="q2:ArrayOfDataTransferObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>