branches/demos/DemoControlPanel/Service References/DemoControlPanelService/DemoControlPanelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2513/DemoControlPanelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DemoControlPanel.Web" />
  <xs:import schemaLocation="http://localhost:2513/DemoControlPanelService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/org.iringtools.library" />
  <xs:import schemaLocation="http://localhost:2513/DemoControlPanelService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/org.w3.sparql_results" />
  <xs:import schemaLocation="http://localhost:2513/DemoControlPanelService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetConfiguredEndpoints">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfiguredEndpointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoControlPanel.Web" minOccurs="0" name="GetConfiguredEndpointsResult" nillable="true" type="q1:ConfiguredEndpoints" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManifest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemoControlPanel.Web" minOccurs="0" name="endpoint" nillable="true" type="q2:iRINGEndpoint" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManifestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/org.iringtools.library" minOccurs="0" name="GetManifestResult" nillable="true" type="q3:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSenderManifest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DemoControlPanel.Web" minOccurs="0" name="endpoint" nillable="true" type="q4:iRINGEndpoint" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSenderManifestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/org.iringtools.library" minOccurs="0" name="GetSenderManifestResult" nillable="true" type="q5:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiverManifest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DemoControlPanel.Web" minOccurs="0" name="endpoint" nillable="true" type="q6:iRINGEndpoint" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiverManifestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/org.iringtools.library" minOccurs="0" name="GetReceiverManifestResult" nillable="true" type="q7:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Refresh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DemoControlPanel.Web" minOccurs="0" name="endpoint" nillable="true" type="q8:iRINGEndpoint" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="graphName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/org.iringtools.library" minOccurs="0" name="RefreshResult" nillable="true" type="q9:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DemoControlPanel.Web" minOccurs="0" name="endpoint" nillable="true" type="q10:iRINGEndpoint" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/org.iringtools.library" minOccurs="0" name="ResetResult" nillable="true" type="q11:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pull">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DemoControlPanel.Web" minOccurs="0" name="endpoint" nillable="true" type="q12:iRINGEndpoint" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DemoControlPanel.Web" minOccurs="0" name="targetEnpoint" nillable="true" type="q13:iRINGEndpoint" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="graphName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/org.iringtools.library" minOccurs="0" name="PullResult" nillable="true" type="q14:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Export">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DemoControlPanel.Web" minOccurs="0" name="endpoint" nillable="true" type="q15:iRINGEndpoint" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="graphName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/org.iringtools.library" minOccurs="0" name="ExportResult" nillable="true" type="q16:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Import">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DemoControlPanel.Web" minOccurs="0" name="endpoint" nillable="true" type="q17:iRINGEndpoint" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/org.iringtools.library" minOccurs="0" name="ImportResult" nillable="true" type="q18:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DemoControlPanel.Web" minOccurs="0" name="endpoint" nillable="true" type="q19:iRINGEndpoint" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/org.w3.sparql_results" minOccurs="0" name="QueryResult" nillable="true" type="q20:ArrayOfArrayOfSPARQLBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DemoControlPanel.Web" minOccurs="0" name="endpoint" nillable="true" type="q21:iRINGEndpoint" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/org.iringtools.library" minOccurs="0" name="UpdateResult" nillable="true" type="q22:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQXF">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/Message" name="stream" type="q23:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQXFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/org.iringtools.library" minOccurs="0" name="GetQXFResult" nillable="true" type="q24:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScopes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DemoControlPanel.Web" minOccurs="0" name="endpoint" nillable="true" type="q25:iRINGEndpoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScopesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/org.iringtools.library" minOccurs="0" name="GetScopesResult" nillable="true" type="q26:ArrayOfScopeProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterfaceScopes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DemoControlPanel.Web" minOccurs="0" name="endpoint" nillable="true" type="q27:iRINGEndpoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterfaceScopesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/org.iringtools.library" minOccurs="0" name="GetInterfaceScopesResult" nillable="true" type="q28:ArrayOfScopeProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>