branches/demos/DemoControlPanel/Service References/DemoControlPanelService/DemoControlPanelService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/org.w3.sparql_results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/org.w3.sparql_results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArrayOfSPARQLBinding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfSPARQLBinding" nillable="true" type="tns:ArrayOfSPARQLBinding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfSPARQLBinding" nillable="true" type="tns:ArrayOfArrayOfSPARQLBinding" />
  <xs:complexType name="ArrayOfSPARQLBinding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SPARQLBinding" nillable="true" type="tns:SPARQLBinding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSPARQLBinding" nillable="true" type="tns:ArrayOfSPARQLBinding" />
  <xs:complexType name="SPARQLBinding">
    <xs:sequence>
      <xs:element minOccurs="0" name="bnode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="literal" nillable="true" type="tns:SPARQLLiteral" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SPARQLBinding" nillable="true" type="tns:SPARQLBinding" />
  <xs:complexType name="SPARQLLiteral">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SPARQLLiteral" nillable="true" type="tns:SPARQLLiteral" />
</xs:schema>