tags/1.2.1/MappingEditor/MappingEditor.Tests/Service References/Test/ReferenceDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ReferenceDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64902/RefrenceDataService/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64902/RefrenceDataService/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64902/RefrenceDataService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:64902/RefrenceDataService/Service.svc?xsd=xsd3" namespace="http://ns.ids-adi.org/qxf/model#" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReferenceDataService_GetRepositories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositories" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_GetRepositories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_SearchReset_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchReset" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_SearchReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResetResponse" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_SearchPage_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPage" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_SearchPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPageResponse" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_SearchPageReset_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPageReset" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_SearchPageReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPageResetResponse" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_GetClass_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClass" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_GetClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassResponse" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_GetSubClasses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubClasses" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_GetSubClasses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubClassesResponse" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_GetClassRelationships_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClassRelationships" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_GetClassRelationships_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassRelationshipsResponse" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_GetClassProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClassProperties" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_GetClassProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_GetTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplate" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_GetTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_PostTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:PostTemplate" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_PostTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_PostClass_InputMessage">
    <wsdl:part name="parameters" element="tns:PostClass" />
  </wsdl:message>
  <wsdl:message name="IReferenceDataService_PostClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostClassResponse" />
  </wsdl:message>
  <wsdl:portType name="IReferenceDataService">
    <wsdl:operation name="GetRepositories">
      <wsdl:input wsaw:Action="http://tempuri.org/IReferenceDataService/GetRepositories" message="tns:IReferenceDataService_GetRepositories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReferenceDataService/GetRepositoriesResponse" message="tns:IReferenceDataService_GetRepositories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IReferenceDataService/Search" message="tns:IReferenceDataService_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReferenceDataService/SearchResponse" message="tns:IReferenceDataService_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchReset">
      <wsdl:input wsaw:Action="http://tempuri.org/IReferenceDataService/SearchReset" message="tns:IReferenceDataService_SearchReset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReferenceDataService/SearchResetResponse" message="tns:IReferenceDataService_SearchReset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IReferenceDataService/SearchPage" message="tns:IReferenceDataService_SearchPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReferenceDataService/SearchPageResponse" message="tns:IReferenceDataService_SearchPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPageReset">
      <wsdl:input wsaw:Action="http://tempuri.org/IReferenceDataService/SearchPageReset" message="tns:IReferenceDataService_SearchPageReset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReferenceDataService/SearchPageResetResponse" message="tns:IReferenceDataService_SearchPageReset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://tempuri.org/IReferenceDataService/Find" message="tns:IReferenceDataService_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReferenceDataService/FindResponse" message="tns:IReferenceDataService_Find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IReferenceDataService/GetClass" message="tns:IReferenceDataService_GetClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReferenceDataService/GetClassResponse" message="tns:IReferenceDataService_GetClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubClasses">
      <wsdl:input wsaw:Action="http://tempuri.org/IReferenceDataService/GetSubClasses" message="tns:IReferenceDataService_GetSubClasses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReferenceDataService/GetSubClassesResponse" message="tns:IReferenceDataService_GetSubClasses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClassRelationships">
      <wsdl:input wsaw:Action="http://tempuri.org/IReferenceDataService/GetClassRelationships" message="tns:IReferenceDataService_GetClassRelationships_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReferenceDataService/GetClassRelationshipsResponse" message="tns:IReferenceDataService_GetClassRelationships_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClassProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/IReferenceDataService/GetClassProperties" message="tns:IReferenceDataService_GetClassProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReferenceDataService/GetClassPropertiesResponse" message="tns:IReferenceDataService_GetClassProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IReferenceDataService/GetTemplate" message="tns:IReferenceDataService_GetTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReferenceDataService/GetTemplateResponse" message="tns:IReferenceDataService_GetTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IReferenceDataService/PostTemplate" message="tns:IReferenceDataService_PostTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReferenceDataService/PostTemplateResponse" message="tns:IReferenceDataService_PostTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IReferenceDataService/PostClass" message="tns:IReferenceDataService_PostClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReferenceDataService/PostClassResponse" message="tns:IReferenceDataService_PostClass_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebHttpBinding_IReferenceDataService" type="tns:IReferenceDataService">
    <wsdl:operation name="GetRepositories">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SearchReset">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SearchPage">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SearchPageReset">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetClass">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetSubClasses">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetClassRelationships">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetClassProperties">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetTemplate">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="PostTemplate">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="PostClass">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReferenceDataService">
    <wsdl:port name="WebHttpBinding_IReferenceDataService" binding="tns:WebHttpBinding_IReferenceDataService" />
  </wsdl:service>
</wsdl:definitions>