branches/1.2.x/Prototypes/ErrorHandlingDemo/ErrorHandlingDemo/Service References/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56762/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56762/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56762/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SayHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="IService_SayHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetFault_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFault" />
  </wsdl:message>
  <wsdl:message name="IService_GetFault_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFaultResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetFault_ArithmeticFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/TestService" name="detail" element="q1:ArithmeticFault" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SayHello">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SayHello" message="tns:IService_SayHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SayHelloResponse" message="tns:IService_SayHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFault">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetFault" message="tns:IService_GetFault_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetFaultResponse" message="tns:IService_GetFault_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/GetFaultArithmeticFaultFault" name="ArithmeticFaultFault" message="tns:IService_GetFault_ArithmeticFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://tempuri.org/IService/SayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFault">
      <soap:operation soapAction="http://tempuri.org/IService/GetFault" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArithmeticFaultFault">
        <soap:fault use="literal" name="ArithmeticFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:56762/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>