iRINGTools.ESBServices/iRINGTools.Services/WebContent/wsdl/directorysoapservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DirectorySoapServiceService" targetNamespace="http://services.iringtools.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.iringtools.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.iringtools.org/directory" version="1.0" xmlns:tns="http://www.iringtools.org/directory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="directory" type="tns:Directory"/>
<xs:element name="exchangeDefinition" type="tns:ExchangeDefinition"/>
<xs:complexType name="ExchangeDefinition">
<xs:sequence>
<xs:element name="id" type="xs:string"/>
<xs:element name="sourceUri" type="xs:string"/>
<xs:element name="sourceScopeName" type="xs:string"/>
<xs:element name="sourceAppName" type="xs:string"/>
<xs:element name="sourceGraphName" type="xs:string"/>
<xs:element name="targetUri" type="xs:string"/>
<xs:element name="targetScopeName" type="xs:string"/>
<xs:element name="targetAppName" type="xs:string"/>
<xs:element name="targetGraphName" type="xs:string"/>
<xs:element name="hashAlgorithm" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Directory">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="scope" type="tns:Scope"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Scope">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
<xs:element name="applicationData" type="tns:ApplicationData"/>
<xs:element name="dataExchanges" type="tns:DataExchanges"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ApplicationData">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="application" type="tns:Application"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Application">
<xs:sequence>
<xs:element name="id" type="xs:string"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="description" type="xs:string"/>
<xs:element name="graphs" type="tns:Graphs"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Graphs">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="graph" type="tns:Graph"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Graph">
<xs:sequence>
<xs:element name="id" type="xs:string"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="description" type="xs:string"/>
<xs:element name="commodity" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DataExchanges">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="commodity" type="tns:Commodity"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Commodity">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
<xs:element name="exchanges" type="tns:Exchanges"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Exchanges">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="exchange" type="tns:Exchange"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Exchange">
<xs:sequence>
<xs:element name="id" type="xs:string"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://services.iringtools.org/" version="1.0" xmlns:ns1="http://www.iringtools.org/directory" xmlns:tns="http://services.iringtools.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://www.iringtools.org/directory"/>
<xs:element name="getDirectory" type="tns:getDirectory"/>
<xs:element name="getDirectoryResponse" type="tns:getDirectoryResponse"/>
<xs:element name="getExchangeDefinition" type="tns:getExchangeDefinition"/>
<xs:element name="getExchangeDefinitionResponse" type="tns:getExchangeDefinitionResponse"/>
<xs:complexType name="getExchangeDefinition">
<xs:sequence>
<xs:element minOccurs="0" name="scope" type="xs:string"/>
<xs:element minOccurs="0" name="exchangeId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getExchangeDefinitionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:ExchangeDefinition"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getDirectory">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getDirectoryResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:Directory"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getDirectoryResponse">
    <wsdl:part name="parameters" element="tns:getDirectoryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExchangeDefinition">
    <wsdl:part name="parameters" element="tns:getExchangeDefinition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDirectory">
    <wsdl:part name="parameters" element="tns:getDirectory">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExchangeDefinitionResponse">
    <wsdl:part name="parameters" element="tns:getExchangeDefinitionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DirectorySoapService">
    <wsdl:operation name="getExchangeDefinition">
      <wsdl:input name="getExchangeDefinition" message="tns:getExchangeDefinition">
    </wsdl:input>
      <wsdl:output name="getExchangeDefinitionResponse" message="tns:getExchangeDefinitionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirectory">
      <wsdl:input name="getDirectory" message="tns:getDirectory">
    </wsdl:input>
      <wsdl:output name="getDirectoryResponse" message="tns:getDirectoryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DirectorySoapServiceServiceSoapBinding" type="tns:DirectorySoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getExchangeDefinition">
      <soap:operation soapAction="urn:GetExchangeDefinition" style="document"/>
      <wsdl:input name="getExchangeDefinition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getExchangeDefinitionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirectory">
      <soap:operation soapAction="urn:GetDirectory" style="document"/>
      <wsdl:input name="getDirectory">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDirectoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DirectorySoapServiceService">
    <wsdl:port name="DirectorySoapServicePort" binding="tns:DirectorySoapServiceServiceSoapBinding">
      <soap:address location="http://localhost:8081/iringtools/services/DirectorySoapServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
