Prototypes/SOAPClient/Service References/AdapterService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://rdl.rdlfacade.org/data#" elementFormDefault="qualified" targetNamespace="http://rdl.rdlfacade.org/data#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Valves">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataTransferObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="InlinePipingComponentName.identifier" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="InlinePipingComponentNominalDiameter.scale" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="InlinePipingComponentNominalDiameter.value" nillable="true" type="xs:double">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="InlinePipingComponentRating.hasNominalProperty" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="InlinePipingComponentType.type" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PipingNetworkSegmentInlinePipingComponentConnection.hasClass" nillable="true" type="tns:Valves.PipingNetworkSegmentInlinePipingComponentConnection">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PlantAreaInlinePipingComponentAssembly.hasClassOfWhole" nillable="true" type="tns:Valves.PlantAreaInlinePipingComponentAssembly">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Valves" nillable="true" type="tns:Valves" />
  <xs:complexType name="DataTransferObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataTransferObject" nillable="true" type="tns:DataTransferObject" />
  <xs:complexType name="Valves.PipingNetworkSegmentInlinePipingComponentConnection">
    <xs:sequence>
      <xs:element minOccurs="0" name="PipingNetworkSegment" nillable="true" type="tns:Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valves.PipingNetworkSegmentInlinePipingComponentConnection" nillable="true" type="tns:Valves.PipingNetworkSegmentInlinePipingComponentConnection" />
  <xs:complexType name="Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PipingNetworkSystemPipingNetworkSegmentAssembly.hasClass" nillable="true" type="tns:Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment" nillable="true" type="tns:Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment" />
  <xs:complexType name="Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" name="PipingNetworkSystem" nillable="true" type="tns:Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly" nillable="true" type="tns:Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly" />
  <xs:complexType name="Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PipingNetworkSystemLineTag.identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SystemPipingNetworkSystemAssembly.hasClassOfWhole" nillable="true" type="tns:Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem.SystemPipingNetworkSystemAssembly">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem" nillable="true" type="tns:Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem" />
  <xs:complexType name="Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem.SystemPipingNetworkSystemAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" name="System" nillable="true" type="tns:Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem.SystemPipingNetworkSystemAssembly.System">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem.SystemPipingNetworkSystemAssembly" nillable="true" type="tns:Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem.SystemPipingNetworkSystemAssembly" />
  <xs:complexType name="Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem.SystemPipingNetworkSystemAssembly.System">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlantSystemAssembly.hasClassOfWhole" nillable="true" type="tns:Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem.SystemPipingNetworkSystemAssembly.System.PlantSystemAssembly">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SystemName.identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem.SystemPipingNetworkSystemAssembly.System" nillable="true" type="tns:Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem.SystemPipingNetworkSystemAssembly.System" />
  <xs:complexType name="Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem.SystemPipingNetworkSystemAssembly.System.PlantSystemAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" name="PLANT" nillable="true" type="tns:Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem.SystemPipingNetworkSystemAssembly.System.PlantSystemAssembly.PLANT">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem.SystemPipingNetworkSystemAssembly.System.PlantSystemAssembly" nillable="true" type="tns:Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem.SystemPipingNetworkSystemAssembly.System.PlantSystemAssembly" />
  <xs:complexType name="Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem.SystemPipingNetworkSystemAssembly.System.PlantSystemAssembly.PLANT">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem.SystemPipingNetworkSystemAssembly.System.PlantSystemAssembly.PLANT" nillable="true" type="tns:Valves.PipingNetworkSegmentInlinePipingComponentConnection.PipingNetworkSegment.PipingNetworkSystemPipingNetworkSegmentAssembly.PipingNetworkSystem.SystemPipingNetworkSystemAssembly.System.PlantSystemAssembly.PLANT" />
  <xs:complexType name="Valves.PlantAreaInlinePipingComponentAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" name="PLANTAREA" nillable="true" type="tns:Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valves.PlantAreaInlinePipingComponentAssembly" nillable="true" type="tns:Valves.PlantAreaInlinePipingComponentAssembly" />
  <xs:complexType name="Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlantAreaName.identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlantPlantAreaAssembly.hasClassOfWhole" nillable="true" type="tns:Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA.PlantPlantAreaAssembly">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA" nillable="true" type="tns:Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA" />
  <xs:complexType name="Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA.PlantPlantAreaAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" name="PLANT" nillable="true" type="tns:Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA.PlantPlantAreaAssembly.PLANT">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA.PlantPlantAreaAssembly" nillable="true" type="tns:Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA.PlantPlantAreaAssembly" />
  <xs:complexType name="Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA.PlantPlantAreaAssembly.PLANT">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlantProjectAssembly.hasClassOfPart" nillable="true" type="tns:Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA.PlantPlantAreaAssembly.PLANT.PlantProjectAssembly">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA.PlantPlantAreaAssembly.PLANT" nillable="true" type="tns:Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA.PlantPlantAreaAssembly.PLANT" />
  <xs:complexType name="Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA.PlantPlantAreaAssembly.PLANT.PlantProjectAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" name="PROJECT" nillable="true" type="tns:Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA.PlantPlantAreaAssembly.PLANT.PlantProjectAssembly.PROJECT">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA.PlantPlantAreaAssembly.PLANT.PlantProjectAssembly" nillable="true" type="tns:Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA.PlantPlantAreaAssembly.PLANT.PlantProjectAssembly" />
  <xs:complexType name="Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA.PlantPlantAreaAssembly.PLANT.PlantProjectAssembly.PROJECT">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ProjectName.identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA.PlantPlantAreaAssembly.PLANT.PlantProjectAssembly.PROJECT" nillable="true" type="tns:Valves.PlantAreaInlinePipingComponentAssembly.PLANTAREA.PlantPlantAreaAssembly.PLANT.PlantProjectAssembly.PROJECT" />
  <xs:complexType name="Vessels">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataTransferObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="FluidContainerDescription.description" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="FluidContainerName.identifier" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vessels" nillable="true" type="tns:Vessels" />
  <xs:complexType name="Lines">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataTransferObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="PipingNetworkSystemName.identifier" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SystemPipingNetworkSystemAssembly.hasClassOfWhole" nillable="true" type="tns:Lines.SystemPipingNetworkSystemAssembly">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Lines" nillable="true" type="tns:Lines" />
  <xs:complexType name="Lines.SystemPipingNetworkSystemAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" name="System" nillable="true" type="tns:Lines.SystemPipingNetworkSystemAssembly.System">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lines.SystemPipingNetworkSystemAssembly" nillable="true" type="tns:Lines.SystemPipingNetworkSystemAssembly" />
  <xs:complexType name="Lines.SystemPipingNetworkSystemAssembly.System">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SystemName.identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lines.SystemPipingNetworkSystemAssembly.System" nillable="true" type="tns:Lines.SystemPipingNetworkSystemAssembly.System" />
  <xs:complexType name="Instruments">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataTransferObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="InlinePipingComponentName.identifier" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="InlinePipingComponentType.type" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PandIDiagramPipingNetworkSegmentAssembly.hasClassOfWhole" nillable="true" type="tns:Instruments.PandIDiagramPipingNetworkSegmentAssembly">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PlantAreaInlinePipingComponentAssembly.hasClassOfWhole" nillable="true" type="tns:Instruments.PlantAreaInlinePipingComponentAssembly">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Instruments" nillable="true" type="tns:Instruments" />
  <xs:complexType name="Instruments.PandIDiagramPipingNetworkSegmentAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" name="PandIDiagram" nillable="true" type="tns:Instruments.PandIDiagramPipingNetworkSegmentAssembly.PandIDiagram">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Instruments.PandIDiagramPipingNetworkSegmentAssembly" nillable="true" type="tns:Instruments.PandIDiagramPipingNetworkSegmentAssembly" />
  <xs:complexType name="Instruments.PandIDiagramPipingNetworkSegmentAssembly.PandIDiagram">
    <xs:sequence>
      <xs:element minOccurs="0" name="DrawingName.identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Instruments.PandIDiagramPipingNetworkSegmentAssembly.PandIDiagram" nillable="true" type="tns:Instruments.PandIDiagramPipingNetworkSegmentAssembly.PandIDiagram" />
  <xs:complexType name="Instruments.PlantAreaInlinePipingComponentAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" name="PlantArea" nillable="true" type="tns:Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Instruments.PlantAreaInlinePipingComponentAssembly" nillable="true" type="tns:Instruments.PlantAreaInlinePipingComponentAssembly" />
  <xs:complexType name="Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlantAreaName.identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlantPlantAreaAssembly.hasClassOfWhole" nillable="true" type="tns:Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea.PlantPlantAreaAssembly">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea" nillable="true" type="tns:Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea" />
  <xs:complexType name="Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea.PlantPlantAreaAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" name="Plant" nillable="true" type="tns:Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea.PlantPlantAreaAssembly.Plant">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea.PlantPlantAreaAssembly" nillable="true" type="tns:Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea.PlantPlantAreaAssembly" />
  <xs:complexType name="Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea.PlantPlantAreaAssembly.Plant">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlantProjectAssembly.hasClassOfPart" nillable="true" type="tns:Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea.PlantPlantAreaAssembly.Plant.PlantProjectAssembly">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea.PlantPlantAreaAssembly.Plant" nillable="true" type="tns:Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea.PlantPlantAreaAssembly.Plant" />
  <xs:complexType name="Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea.PlantPlantAreaAssembly.Plant.PlantProjectAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" name="Project" nillable="true" type="tns:Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea.PlantPlantAreaAssembly.Plant.PlantProjectAssembly.Project">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea.PlantPlantAreaAssembly.Plant.PlantProjectAssembly" nillable="true" type="tns:Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea.PlantPlantAreaAssembly.Plant.PlantProjectAssembly" />
  <xs:complexType name="Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea.PlantPlantAreaAssembly.Plant.PlantProjectAssembly.Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ProjectName.identifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea.PlantPlantAreaAssembly.Plant.PlantProjectAssembly.Project" nillable="true" type="tns:Instruments.PlantAreaInlinePipingComponentAssembly.PlantArea.PlantPlantAreaAssembly.Plant.PlantProjectAssembly.Project" />
  <xs:complexType name="ArrayOfDataTransferObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataTransferObject" nillable="true" type="tns:DataTransferObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataTransferObject" nillable="true" type="tns:ArrayOfDataTransferObject" />
</xs:schema>