tags/1.1.1/Prototypes/Raptor/SOAPClient/Service References/AdapterService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://ns.iringtools.org/protocol" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://ns.iringtools.org/protocol" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ns.iringtools.org/protocol/Imports">
      <xsd:import schemaLocation="http://localhost:52786/Service.svc?xsd=xsd2" namespace="http://ns.iringtools.org/protocol" />
      <xsd:import schemaLocation="http://localhost:52786/Service.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52786/Service.svc?xsd=xsd1" namespace="http://rdl.rdlfacade.org/data#" />
      <xsd:import schemaLocation="http://localhost:52786/Service.svc?xsd=xsd3" namespace="http://ns.iringtools.org/library" />
      <xsd:import schemaLocation="http://localhost:52786/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/org.iringtools.library" />
      <xsd:import schemaLocation="http://localhost:52786/Service.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDictionary" />
  </wsdl:message>
  <wsdl:message name="IService_GetDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RefreshDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshDictionary" />
  </wsdl:message>
  <wsdl:message name="IService_RefreshDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMapping_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMapping" />
  </wsdl:message>
  <wsdl:message name="IService_GetMapping_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMappingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateMapping_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMapping" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateMapping_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMappingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Generate_InputMessage">
    <wsdl:part name="parameters" element="tns:Generate" />
  </wsdl:message>
  <wsdl:message name="IService_Generate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ClearStore_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearStore" />
  </wsdl:message>
  <wsdl:message name="IService_ClearStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RefreshGraph_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshGraph" />
  </wsdl:message>
  <wsdl:message name="IService_RefreshGraph_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshGraphResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RefreshAll_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshAll" />
  </wsdl:message>
  <wsdl:message name="IService_RefreshAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Pull_InputMessage">
    <wsdl:part name="parameters" element="tns:Pull" />
  </wsdl:message>
  <wsdl:message name="IService_Pull_OutputMessage">
    <wsdl:part name="parameters" element="tns:PullResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateDatabaseDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDatabaseDictionary" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateDatabaseDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDatabaseDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="DTORequest">
    <wsdl:part name="parameters" element="tns:DTORequest" />
  </wsdl:message>
  <wsdl:message name="DTOResponse">
    <wsdl:part name="parameters" element="tns:DTOResponse" />
  </wsdl:message>
  <wsdl:message name="DTOListResponse">
    <wsdl:part name="parameters" element="tns:DTOListResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://ns.iringtools.org/protocol/IService/Get" message="tns:IService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://ns.iringtools.org/protocol/IService/GetResponse" message="tns:IService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://ns.iringtools.org/protocol/IService/GetList" message="tns:IService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://ns.iringtools.org/protocol/IService/GetListResponse" message="tns:IService_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDictionary">
      <wsdl:input wsaw:Action="http://ns.iringtools.org/protocol/IService/GetDictionary" message="tns:IService_GetDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://ns.iringtools.org/protocol/IService/GetDictionaryResponse" message="tns:IService_GetDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshDictionary">
      <wsdl:input wsaw:Action="http://ns.iringtools.org/protocol/IService/RefreshDictionary" message="tns:IService_RefreshDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://ns.iringtools.org/protocol/IService/RefreshDictionaryResponse" message="tns:IService_RefreshDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMapping">
      <wsdl:input wsaw:Action="http://ns.iringtools.org/protocol/IService/GetMapping" message="tns:IService_GetMapping_InputMessage" />
      <wsdl:output wsaw:Action="http://ns.iringtools.org/protocol/IService/GetMappingResponse" message="tns:IService_GetMapping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMapping">
      <wsdl:input wsaw:Action="http://ns.iringtools.org/protocol/IService/UpdateMapping" message="tns:IService_UpdateMapping_InputMessage" />
      <wsdl:output wsaw:Action="http://ns.iringtools.org/protocol/IService/UpdateMappingResponse" message="tns:IService_UpdateMapping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Generate">
      <wsdl:input wsaw:Action="http://ns.iringtools.org/protocol/IService/Generate" message="tns:IService_Generate_InputMessage" />
      <wsdl:output wsaw:Action="http://ns.iringtools.org/protocol/IService/GenerateResponse" message="tns:IService_Generate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearStore">
      <wsdl:input wsaw:Action="http://ns.iringtools.org/protocol/IService/ClearStore" message="tns:IService_ClearStore_InputMessage" />
      <wsdl:output wsaw:Action="http://ns.iringtools.org/protocol/IService/ClearStoreResponse" message="tns:IService_ClearStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshGraph">
      <wsdl:input wsaw:Action="http://ns.iringtools.org/protocol/IService/RefreshGraph" message="tns:IService_RefreshGraph_InputMessage" />
      <wsdl:output wsaw:Action="http://ns.iringtools.org/protocol/IService/RefreshGraphResponse" message="tns:IService_RefreshGraph_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshAll">
      <wsdl:input wsaw:Action="http://ns.iringtools.org/protocol/IService/RefreshAll" message="tns:IService_RefreshAll_InputMessage" />
      <wsdl:output wsaw:Action="http://ns.iringtools.org/protocol/IService/RefreshAllResponse" message="tns:IService_RefreshAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pull">
      <wsdl:input wsaw:Action="http://ns.iringtools.org/protocol/IService/Pull" message="tns:IService_Pull_InputMessage" />
      <wsdl:output wsaw:Action="http://ns.iringtools.org/protocol/IService/PullResponse" message="tns:IService_Pull_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDatabaseDictionary">
      <wsdl:input wsaw:Action="http://ns.iringtools.org/protocol/IService/UpdateDatabaseDictionary" message="tns:IService_UpdateDatabaseDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://ns.iringtools.org/protocol/IService/UpdateDatabaseDictionaryResponse" message="tns:IService_UpdateDatabaseDictionary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://ns.iringtools.org/protocol/IDataService/GetData" name="DTORequest" message="tns:DTORequest" />
      <wsdl:output wsaw:Action="http://ns.iringtools.org/protocol/IDataService/GetDataResponse" name="DTOResponse" message="tns:DTOResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDataList">
      <wsdl:input wsaw:Action="http://ns.iringtools.org/protocol/IDataService/GetDataList" name="DTORequest" message="tns:DTORequest" />
      <wsdl:output wsaw:Action="http://ns.iringtools.org/protocol/IDataService/GetDataListResponse" name="DTOListResponse" message="tns:DTOListResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>